body
{
    background-image: url('wallpaper.png');
    background-size: cover;
}
p
{
    color: yellow;
    font-size: 40px;
}
a:hover{
    font-size: large;
    cursor: pointer;
}

a:visited {
    color: blueviolet;
}


